header {
  height: 60px;
  min-height: 50px;
  max-height: 60px;
  width: 100%;
  background-color: rgb(156, 246, 246);
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

