:root {
  --margin-left: 50px;
  --margin-right: 50px;
}

.toolbar {
  width: calc(100% - var(--margin-left) - var(--margin-right));
  height: 35px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}