
.toolbar {
  width: auto;
  height: 35px;
  display: flex;
  border: 1px solid black;
}

.toolbar select {
  border: 0;
  min-width: 70px;
  width: auto;
  max-width: 120px;
  text-align: center;
  background-color: rgb(237, 237, 237);
  transition: 0.3s ease;
  border: 1px solid black;
}

.toolbar select:hover {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
}