:root {
  --bg1-color: rgb(255, 255, 255);
  --bg2-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE", system-ui;
}

html {
  background-color: var(--bg1-color);
}



main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.section-card {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 20px;
  padding-right: 20px;
}


