:root {
  --bg1-color: rgb(255, 255, 255);
  --bg2-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE", system-ui;
}

html {
  background-color: var(--bg1-color);
}



main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 20px;
}


.section-card {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* padding-left: 20px; */
  gap: 25px;
}

@media (max-width: 990px) {
  .section-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    gap: 15px;
  }
}
